.header__lang-link {
  color: #fff;
  transition: opacity .3s ease;
  text-decoration: none;
}

.header__lang-link:hover {
  text-decoration: underline;
  opacity: .8;
  transition: opacity .3s ease;
}
