.photo-grid {
  margin: 0 auto;
  max-width: 1184px;
  padding-top: 48px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
  }
}

@media screen and (min-width: 321px) and (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: 720px;
    padding: 0 16px 0 16px;
  }
}