.footer__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  transition: opacity .3s ease;
}

.footer__link:hover {
  cursor: pointer;
  opacity: .8;
  transition: opacity .3s ease;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}