.lead__subtitle {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  max-width: 640px;
  color: #fff;
  text-align: center;
  padding-bottom: 64px;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}