.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 1fr;
  row-gap: 48px;
  column-gap: 40px;
  box-sizing: border-box;
  padding-bottom: 80px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: minmax(320px, 1fr);
    grid-gap: 32px;
    padding-bottom: 24px;
  }
}