.footer {
  margin: 0 auto;
  max-width: 1184px;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-left: 16px;
    padding-top: 64px;
    flex-direction: column;
    align-items: flex-start;
  }
}